<!DOCTYPE html>
%html
  %head
    +include './app/haml/shared/_head_v2.haml'

  %body.kiosklanding-page
    %header.navbar.kiosklanding-navbar.kiosklanding-navbar-inverse.kiosklanding-navbar-center
      .container-fluid
        %span.navbar-brand
          %span.kiosklanding-navbar-logo
        %div.navbar-rightbox.pull-right
          %a.btn.navbar-btn.kiosklanding-auth-button{href: '/login'}
            Вход для магазинов
    %main.kiosklanding-main
      .kiosklanding-promo
        .container
          .row
            .col-md-8.col-md-offset-2
              %h1.kiosklanding-promo-title != 'Создай собственный <span class="text-nowrap">интернет-магазин</span> бесплатно'
          %a.btn.kiosklanding-reg-button{href: '#registration', title: 'Зарегистрироваться', ks-scrollto: true} Зарегистрироваться
        .kiosklanding-promo-examples
          %div{ks-owl-carousel2: true}
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://www.wanna-be.ru', title: 'wanna-be.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/wanna-be.jpg', alt: 'wanna-be.ru'}
                %h6.kiosklanding-promo-example-title wanna-be.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://www.etc.kiiiosk.ru', title: 'etc.kiiiosk.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/etc.jpg', alt: 'etc.kiiiosk.ru'}
                %h6.kiosklanding-promo-example-title etc.kiiiosk.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://www.naturallab.ru', title: 'naturallab.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/naturallab.jpg', alt: 'naturallab.ru'}
                %h6.kiosklanding-promo-example-title naturallab.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://www.idealistbooks.ru', title: 'idealistbooks.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/idealistbooks.jpg', alt: 'idealistbooks.ru'}
                %h6.kiosklanding-promo-example-title idealistbooks.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://sputnik-bags.ru', title: 'sputnik-bags.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/sputnik.jpg', alt: 'sputnik-bags.ru'}
                %h6.kiosklanding-promo-example-title sputnik-bags.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://shop.mylkco.com', title: 'shop.mylkco.com', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/mylk.jpg', alt: 'shop.mylkco.com'}
                %h6.kiosklanding-promo-example-title shop.mylkco.com
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://saharokstore.ru', title: 'saharokstore.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/saharok.jpg', alt: 'saharokstore.ru'}
                %h6.kiosklanding-promo-example-title saharokstore.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://mastbrothers.ru', title: 'mastbrothers.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/mastbrothers.jpg', alt: 'mastbrothers.ru'}
                %h6.kiosklanding-promo-example-title mastbrothers.ru
            .kiosklanding-promo-example>
              %a.kiosklanding-promo-example-link{href: 'http://varvara-shop.com', title: 'varvara-shop.com', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/varvarashop.jpg', alt: 'varvara-shop.com'}
                %h6.kiosklanding-promo-example-title varvara-shop.com
      .kiosklanding-features
        .container
          .row.kiosklanding-features-list
            .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-3.kiosklanding-feature
              .kiosklanding-feature-figure
                .kiosklanding-feature-icon-design
              %h3
                Простая настройка дизайна
            .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-3.kiosklanding-feature
              .kiosklanding-feature-figure
                .kiosklanding-feature-icon-cards
              %h3
                Подключение приема платежей по паспорту
            .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-3.kiosklanding-feature
              .kiosklanding-feature-figure
                .kiosklanding-feature-icon-mobile
              %h3
                Удобная покупка с мобильного
            .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-0.col-md-3.kiosklanding-feature
              .kiosklanding-feature-figure
                .kiosklanding-feature-icon-orders
              %h3 != 'Умная работа с<br /> заказами'
          .row
            %p.col-md-6.col-md-offset-3.text-center.kiosklanding-features-text != 'А так же: размещение на собственном домене, интеграция с сервисом <a href="http://www.moysklad.ru/" title="moysklad.ru" target="_blank">moysklad.ru</a>, выгрузка товаров в группу вконтакте, вывод потока фотографий из инстаграм и многое другое'
      .kiosklanding-pricing
        .container
          %h2.kiosklanding-pricing-title.text-center Сколько стоит Киоск?
          %h3.kiosklanding-pricing-free.text-center Бесплатно
          .row
            .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
              .row
                .col-sm-6.col-md-6
                  %ul.kiosklanding-pricing-features
                    %li До 10 000 товаров
                    %li Прием банковских карт
                    %li Работа с заказами
                    %li Интеграция с moysklad.ru
                    %li Собственный домен
                    %li Инстаграм-лента на сайте
                    %li Интеграция с вконтакте
                    %li Поддержка 24/7
                    %li Консультации по первичной настройке и запуску магазина
                .col-sm-6.col-md-6
                  .kiosklanding-pricing-commission != 'Комиссия платежной системы*<br /> 6% – для частных лиц<br /> 5% – для юридических лиц'
                  .kiosklanding-pricing-footnote
                    %small.text-muted != '<span class="star">*</span> При обороте выше<br /> 1 миллиона рублей, ставка<br /> подбирается индивидуально'
      .kiosklanding-start
        .container.text-center
          .row
            .col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
              %h2.kiosklanding-section-title != 'Мы знаем, как запускать успешные <span class="text-nowrap">интернет-магазины</span>'
          #registration.kiosklanding-auth-form
            .row
              .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                %form#new_vendor_registration_form{action: 'http://app.kiiiosk.ru/registration', method: 'post', accept-charset: 'UTF-8', novalidate: 'novalidate'}
                  %h2 Регистрация
                  .form-group
                    %input.form-control{name: 'vendor_registration_form[vendor_name]', type: 'text', placeholder: 'Название магазина'}
                  .form-group
                    %input.form-control{name: 'vendor_registration_form[operator_name]', type: 'text', placeholder: 'Ваше Имя'}
                  .form-group
                    %input.form-control{name: 'vendor_registration_form[phone]', type: 'tel', placeholder: 'Номер телефона'}
                  .form-group
                    %input.form-control{name: 'vendor_registration_form[email]', type: 'email', placeholder: 'E-mail'}
                  %input.btn{name: 'commit', type: 'submit', value: 'Продолжить'}
          .row
            .col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
              %p != '<span class="text-nowrap">звоните  – <a href="tel:88007755661">8 (800) 77-55-661</a></span>,</span> <span class="text-nowrap">или пишите – <a href="mailto:support@kiiiosk.ru" title="support@kiiiosk.ru">support@kiiiosk.ru</a></span>'
    %footer.kiosklanding-footer
      .kiosklanding-footer-socials
        .container
          %ul.kiosklanding-socials
            %li.kiosklanding-social
              %a.kiosklanding-social-link{href: 'https://www.facebook.com/kiiiosk.ru', title: 'Facebook', target: '_blank'}
                %i.kiosklanding-social-icon.kiosklanding-social-icon-facebook>
                %span Facebook
              .fb-like{data: {href: 'https://www.facebook.com/kiiiosk.ru', layout: 'button_count', action: 'like', 'show-faces': false, share: 'false'}
            %li.kiosklanding-social
              %a.kiosklanding-social-link{href: 'https://instagram.com/kiiiosk/', title: 'Instagram', target: '_blank'}
                %i.kiosklanding-social-icon.kiosklanding-social-icon-instagram>
                %span Instagram
            %li.kiosklanding-social
              %a.kiosklanding-social-link{href: 'https://vk.com/kiiiosk', title: 'Вконтакте', target: '_blank'}
                %i.kiosklanding-social-icon.kiosklanding-social-icon-vkontakte>
                %span Вконтакте
            %li.kiosklanding-social
              %a.kiosklanding-social-link{href: 'https://twitter.com/@kiiiosk_ru', title: 'Twitter', target: '_blank'}
                %i.kiosklanding-social-icon.kiosklanding-social-icon-twitter>
                %span Twitter

    / build:js
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}
    / endbuild
    / build:counters
    +include 'app/haml/shared/_google_analytics.html'
    +include 'app/haml/shared/_yandex_metrica.html'
    / endbuild
    -# +include 'app/haml/shared/_jivosite.html'
    +include 'app/haml/shared/_facebook_likes.html'
