<!DOCTYPE html>
%html
  %head
    +include './app/haml/shared/_head_v2.haml'

  %body
    %header.header
      %nav.navbar
        .container
          %span.navbar-brand
            %span.navbar-logo Киоск
          %a.btn.btn-sm.btn-default.btn-outline.navbar-btn.pull-right{href: '/login'}
            != 'Вход<span class="hidden-xs hidden-sm"> для магазинов</span>'
          %p.navbar-text.navbar-right.text-right.text-nowrap
            != '<span class="hidden-xs hidden-sm text-muted">звоните – </span><a href="tel:88007755661">8 (800) 77-55-661</a>'
      -# .hero
      -#   .promo-examples
      -#     %div{ks-owl-carousel2: true}
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://www.wanna-be.ru', title: 'wanna-be.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/wanna-be.jpg', alt: 'wanna-be.ru'}
      -#           %h6.promo-example-title wanna-be.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://www.etc.kiiiosk.ru', title: 'etc.kiiiosk.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/etc.jpg', alt: 'etc.kiiiosk.ru'}
      -#           %h6.promo-example-title etc.kiiiosk.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://www.naturallab.ru', title: 'naturallab.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/naturallab.jpg', alt: 'naturallab.ru'}
      -#           %h6.promo-example-title naturallab.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://www.idealistbooks.ru', title: 'idealistbooks.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/idealistbooks.jpg', alt: 'idealistbooks.ru'}
      -#           %h6.promo-example-title idealistbooks.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://sputnik-bags.ru', title: 'sputnik-bags.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/sputnik.jpg', alt: 'sputnik-bags.ru'}
      -#           %h6.promo-example-title sputnik-bags.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://shop.mylkco.com', title: 'shop.mylkco.com', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/mylk.jpg', alt: 'shop.mylkco.com'}
      -#           %h6.promo-example-title shop.mylkco.com
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://saharokstore.ru', title: 'saharokstore.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/saharok.jpg', alt: 'saharokstore.ru'}
      -#           %h6.promo-example-title saharokstore.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://mastbrothers.ru', title: 'mastbrothers.ru', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/mastbrothers.jpg', alt: 'mastbrothers.ru'}
      -#           %h6.promo-example-title mastbrothers.ru
      -#       .promo-example>
      -#         %a.promo-example-link{href: 'http://varvara-shop.com', title: 'varvara-shop.com', target: '_blank'}
      -#           .browser
      -#             .browser-viewport
      -#               %img{src: 'images/promo-examples/varvarashop.jpg', alt: 'varvara-shop.com'}
      -#           %h6.promo-example-title varvara-shop.com
    %div.body
      .jumbotron.jumbotron-cover.bg-primary.text-center{style: 'background-image: url(images/covers/saharok-1.jpg);'}
        .container
          %h1.section-title != '<span class="text-nowrap">Интернет-магазин</span> за 3 минуты'
          %p Удивительно быстрое создание интернет витрины
          %p &nbsp;
          %p
            %a.btn.btn-success.btn-lg{href: ''} Узнать подробности
      .section.text-center
        .container
          .row
            .col-md-6.col-md-offset-3
              .lead-icon.h3
                %i.icon-video
              %h2.section-title Как это работает?
              %p Все очень просто. Вам не нужно обладать знаниями в программировании, дизайне и т.д. Все что вам нужно - это посмотреть видео
              %p &nbsp;
              .embed-responsive.embed-responsive-16by9
                %iframe.embed-responsive-item{src: '//www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen: true}
      .section.bg-warning.text-center
        .container
          .row
            .col-md-8.col-md-offset-2
              .lead-icon.h3
                %i.icon-sound
              %h2.section-title Отзывы
              %h3.lead != '&laquo;Пробовали множество конструкторов, но именно Kiiisk дал нам возможность сделать качественный интернет-магазин с нуля, не имея никаких знаний о программировании. Спасибо вам огромное!&raquo;'
              %p
                != 'Алексей &mdash; <a href="supermag.kiiiosk.ru">supermag.kiiiosk.ru</a>'
      .section.bg-info.text-center
        .container
          .lead-icon.h3
            %i.icon-briefcase
          %h2.section-title Примеры
          %p Взгляните на эту красоту и Вы захотите такой же интернет-магазин
        .promo-examples
          %div{ks-owl-carousel2: true}
            .promo-example>
              %a.promo-example-link{href: 'http://www.wanna-be.ru', title: 'wanna-be.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/wanna-be.jpg', alt: 'wanna-be.ru'}
                %h6.promo-example-title wanna-be.ru
            .promo-example>
              %a.promo-example-link{href: 'http://www.etc.kiiiosk.ru', title: 'etc.kiiiosk.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/etc.jpg', alt: 'etc.kiiiosk.ru'}
                %h6.promo-example-title etc.kiiiosk.ru
            .promo-example>
              %a.promo-example-link{href: 'http://www.naturallab.ru', title: 'naturallab.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/naturallab.jpg', alt: 'naturallab.ru'}
                %h6.promo-example-title naturallab.ru
            .promo-example>
              %a.promo-example-link{href: 'http://www.idealistbooks.ru', title: 'idealistbooks.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/idealistbooks.jpg', alt: 'idealistbooks.ru'}
                %h6.promo-example-title idealistbooks.ru
            .promo-example>
              %a.promo-example-link{href: 'http://sputnik-bags.ru', title: 'sputnik-bags.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/sputnik.jpg', alt: 'sputnik-bags.ru'}
                %h6.promo-example-title sputnik-bags.ru
            .promo-example>
              %a.promo-example-link{href: 'http://shop.mylkco.com', title: 'shop.mylkco.com', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/mylk.jpg', alt: 'shop.mylkco.com'}
                %h6.promo-example-title shop.mylkco.com
            .promo-example>
              %a.promo-example-link{href: 'http://saharokstore.ru', title: 'saharokstore.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/saharok.jpg', alt: 'saharokstore.ru'}
                %h6.promo-example-title saharokstore.ru
            .promo-example>
              %a.promo-example-link{href: 'http://mastbrothers.ru', title: 'mastbrothers.ru', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/mastbrothers.jpg', alt: 'mastbrothers.ru'}
                %h6.promo-example-title mastbrothers.ru
            .promo-example>
              %a.promo-example-link{href: 'http://varvara-shop.com', title: 'varvara-shop.com', target: '_blank'}
                .browser
                  .browser-viewport
                    %img{src: 'images/promo-examples/varvarashop.jpg', alt: 'varvara-shop.com'}
                %h6.promo-example-title varvara-shop.com
      .section.text-center
        .container
          .lead-icon.h3
            %i.icon-paper-plane
          .row
            .col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
              %h2.section-title != 'Мы знаем, как запускать успешные <span class="text-nowrap">интернет-магазины</span>'
          .form-flatbox
            .row
              .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                %form{action: '?', method: 'post', accept-charset: 'UTF-8', novalidate: 'novalidate'}
                  %h2.form-title Регистрация
                  .form-group.form-group-first
                    %input.form-control{type: 'text', placeholder: 'Название магазина'}
                  .form-group
                    %input.form-control{type: 'text', placeholder: 'Ваше Имя'}
                  .form-group
                    %input.form-control{type: 'tel', placeholder: 'Номер телефона'}
                  .form-group
                    %input.form-control{type: 'email', placeholder: 'E-mail'}
                  .form-group.form-group-last
                    %input.btn.btn-success.btn-block{name: 'commit', type: 'submit', value: 'Продолжить'}
          .row
            .col-sm-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
              %p &nbsp;
              %p != '<span class="text-nowrap">звоните  – <a href="tel:88007755661">8 (800) 77-55-661</a></span>,</span> <span class="text-nowrap">или пишите – <a href="mailto:support@kiiiosk.ru" title="support@kiiiosk.ru">support@kiiiosk.ru</a></span>'
    %footer.footer
      .footer-links
        .container
          %ul.list-inline
            %li != '&copy; Kiosk &mdash; 2015'
            %li &middot;
            %li
              %a.footer-link{href: '', title: 'Главная'} Главная
            %li
              %a.footer-link{href: '', title: 'Тарифы'} Тарифы
            %li
              %a.footer-link{href: '', title: 'Реклама'} Реклама

    / build:js
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}
    / endbuild
    / build:counters
    +include 'app/haml/shared/_google_analytics.html'
    +include 'app/haml/shared/_yandex_metrica.html'
    / endbuild
    -# +include 'app/haml/shared/_jivosite.html'
    +include 'app/haml/shared/_facebook_likes.html'
