<!DOCTYPE html>
%html
  %head
    +include './app/haml/shared/_head.haml'
  %body
    .simple-page
      %header.simple-header
        %nav.navbar.navbar-simple
          .container
            %a.navbar-brand{href: 'welcome.html'}
              %span.navbar-logo Киоск
      .simple-body
        .grid-table.grid-table-full
          .grid-table-cell
            .container
              .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                  .form-flatbox
                    %form{action: '?', method: 'post', accept-charset: 'UTF-8', novalidate: 'novalidate'}
                      .alert.alert-danger != 'Неверный логин или пин код, введите верные данные, <a href="http://app.kiiiosk.ru/password_resets/new">запросите новый пин код</a> или <a href="http://app.kiiiosk.ru/registration">зарегистрируйтесь</a>'
                      %h1.form-title Авторизация
                      .form-group.form-group-first.has-error
                        %input.form-control{type: 'text', placeholder: 'Номер телефона или email'}
                      .form-group.has-error
                        %input.form-control{type: 'text', placeholder: 'Пин-код или пароль'}
                      .form-group.form-group-last
                        %input.btn.btn-success.btn-block{value: 'Продолжить'}
                    .row.form-flatbox-links
                      .col-xs-6
                        %p
                          Нет аккаунта?
                          %br
                          %a{href: 'signup.html'}
                            %strong Создать магазин
                      .col-xs-6
                        %p
                          Забыли пароль?
                          %br
                          %a{href: 'reset_password.html'}
                            %strong Восстановить