<!DOCTYPE html>
%html
  %head
    +include './app/haml/shared/_head_v2.haml'
  %body
    .simple-page
      %header.simple-header
        %nav.navbar.navbar-simple
          .container
            %a.navbar-brand{href: 'welcome.html'}
              %span.navbar-logo Киоск
      .simple-body
        .grid-full
          .grid-full-middle
            .container
              .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                  .form-flatbox
                    %form{action: '?', method: 'post', accept-charset: 'UTF-8', novalidate: 'novalidate'}
                      %h1.form-title Восстановление пин-кода
                      .form-group.form-group-first
                        %input.form-control{type: 'text', placeholder: 'Номер телефона или email'}
                      .form-group.form-group-last
                        %input.btn.btn-success.btn-block{value: 'Получить пароль'}
                    .row.form-flatbox-links
                      .col-xs-6
                        %p
                          Нет аккаунта?
                          %br
                          %a{href: 'signup.html'}
                            %strong Создать магазин
                      .col-xs-6
                        %p
                          Вспомнил пароль?
                          %br
                          %a{href: 'login.html'}
                            %strong Войти