<!DOCTYPE html>
%html
  %head
    +include './app/haml/shared/_head_v2.haml'
  %body
    .auth
      .auth-header
        .container
          %a.auth-logo{href: 'landing2.html'} Киоск
      .auth-content
        .auth-grid-table
          .auth-grid-table-cell
            .container
              .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                  .auth-form
                    %form{action: '?', method: 'post', accept-charset: 'UTF-8', novalidate: 'novalidate'}
                      .alert.alert-danger != 'Неверный логин или пин код, введите верные данные, <a href="http://app.kiiiosk.ru/password_resets/new">запросите новый пин код</a> или <a href="http://app.kiiiosk.ru/registration">зарегистрируйтесь</a>'
                      %h1.form-title Авторизация
                      .form-group.form-group-first.has-error
                        %input.form-control{type: 'text', placeholder: 'Номер телефона или email'}
                      .form-group.has-error
                        %input.form-control{type: 'text', placeholder: 'Пин-код или пароль'}
                      .form-group.form-group-last
                        %input.btn.btn-success.btn-block.btn-lg{value: 'Продолжить'}
                    .row.auth-form-links
                      .col-xs-6
                        %p
                          Нет аккаунта?
                          %br
                          %a{href: 'signup.html'}
                            %strong Создать магазин
                      .col-xs-6
                        %p
                          Забыли пароль?
                          %br
                          %a{href: 'reset_password.html'}
                            %strong Восстановить