//== Colors
$gray-dark:     #242424

$brand-primary: #3c85df
$brand-success: #5cb85c
$brand-info:    #62b6ff
$brand-warning: #ffb347
$brand-danger:  #f6584f

//== Typography
$font-family-sans-serif: "Museo Sans Cyrillic", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-base:       $font-family-sans-serif

$font-size-small:        13px

//== Components
$padding-base-vertical:    12px
$padding-base-horizontal:  14px

$padding-large-vertical:   16px
$padding-large-horizontal: 18px

$padding-small-vertical:   10px
$padding-small-horizontal: 14px

$border-radius-base:       2px
$border-radius-large:      $border-radius-base
$border-radius-small:      $border-radius-base

//== Type
$line-color: $hr-border

//== Buttons
$btn-font-weight:    300

$btn-primary-bg:     $brand-primary
$btn-primary-border: $btn-primary-bg

$btn-success-bg:     $brand-success
$btn-success-border: $btn-success-bg

$btn-info-bg:        $brand-info
$btn-info-border:    $btn-info-bg

$btn-warning-bg:     $brand-warning
$btn-warning-border: $btn-warning-bg

$btn-danger-bg:      $brand-danger
$btn-danger-border:  $btn-danger-bg

//== States
// $state-success-text:   #fff
// $state-success-bg:     $brand-success
// $state-success-border: $state-success-bg

// $state-info-text:      #fff
// $state-info-bg:        $brand-info
// $state-info-border:    $state-info-bg

// $state-warning-text:   #fff
// $state-warning-bg:     $brand-warning
// $state-warning-border: $state-warning-bg

// $state-danger-text:    #fff
// $state-danger-bg:      $brand-danger
// $state-danger-border:  $state-danger-bg

// Alerts
$alert-border-radius:  $border-radius-base

$alert-success-bg:     $brand-success
$alert-success-text:   #fff
$alert-success-border: $brand-success

$alert-info-bg:        $brand-info
$alert-info-text:      #fff
$alert-info-border:    $brand-info

$alert-warning-bg:     $brand-warning
$alert-warning-text:   #fff
$alert-warning-border: $brand-warning

$alert-danger-bg:      $brand-danger
$alert-danger-text:    #fff
$alert-danger-border:  $brand-danger

//== Navbar
$navbar-height:           80px
$navbar-margin-bottom:    0
$navbar-border-radius:    0

$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 2)

//== Nav
$nav-link-hover-bg: transparent

//== Forms
$input-border-radius: $border-radius-base

$input-height-base:   ($line-height-computed + ($padding-base-vertical * 2) + 2)
$input-height-small:  (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2)

//== Browser
$browser-bg:            #a9a9a2
$browser-border-radius: 5px

//== Info Trigger
$info-trigger-color:       #ccc
$info-trigger-color-hover: #666

//== Avatar
$avatar-base-size: 80px

//== Pages
$simple-page-color: #777